.logINForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    margin:40px auto;
    background-color: rgb(218, 243, 243);
    border-radius: 10px;
    box-shadow:  6px 10px 10px  rgba(44, 124, 243, 0.945);
    height: 50vh;
    width: 40%;   

}
.formgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
