.logINForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    margin:30px auto;
    background-color: rgb(178, 248, 248);
    border-radius: 10px;
    box-shadow:  6px 10px 10px  rgba(54, 132, 250, 0.945);
    height: 60vh;
    width: 50%;   

}
.formgroup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
