.SignUpParent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 30px auto;
    background-color:  rgb(221, 247, 247);
    border-radius: 10px;
    box-shadow:  6px 10px 10px  rgba(41, 123, 245, 0.822);

}

.SignupFrom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
    
